# OSM caches
cache/

# VSCode related files
.vscode/

# output
*.html
home_to_destination/*.html
home_to_destination*/*
routes*/*
routes/*.html
routes/*.json
routes/*.gpx
home_to_destination/*.json

#personal data
configuration

#cache
modules/__pycache__
